@model AccountViewModel
@using MSTART_Task.Enums;
@using Microsoft.AspNetCore.Mvc.Rendering

@{
    var currenciesList = new SelectList(Currency.AvailableCurrencies, "Code", "CurrencyName");
}

<!-- Button trigger modal -->
<button type="button" class="btn btn-success mt-3" data-bs-toggle="modal" data-bs-target="#AddNewModal">
    Add New Account
</button>

<!-- Modal -->
<div class="modal fade" id="AddNewModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">New User</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="AddNew" method="post">
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group ">
                        <label asp-for="User_ID" class="control-label"></label>
                        <input asp-for="User_ID" class="form-control" />
                        <span asp-validation-for="User_ID" class="text-danger"></span>
                    </div>



                    <div class="form-group">
                        <label asp-for="Server_DateTime" class="control-label"></label>
                        <input asp-for="Server_DateTime" class="form-control" value="@DateTime.UtcNow.ToString("dd/mm/yyyy")" />
                        <span asp-validation-for="Server_DateTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DateTime_UTC" class="control-label"></label>
                        <input asp-for="DateTime_UTC" class="form-control" value="@DateTime.UtcNow.ToString("dd/mm/yyyy")" />
                        <span asp-validation-for="DateTime_UTC" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Update_DateTime_UTC" class="control-label"></label>
                        <input asp-for="Update_DateTime_UTC" class="form-control" value="@DateTime.UtcNow.ToString("dd/mm/yyyy")" />
                        <span asp-validation-for="Update_DateTime_UTC" class="text-danger"></span>
                    </div>


                    <div class="row">
                        <div class="form-group">
                            <label asp-for="Account_Number" class="control-label"></label>
                            <input asp-for="Account_Number" class="form-control" />
                            <span asp-validation-for="Account_Number" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Balance" class="control-label"></label>
                            <input asp-for="Balance" class="form-control" />
                            <span asp-validation-for="Balance" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-6">
                            <label asp-for="Currency" class="control-label"></label>
                            <select asp-for="Currency" class="form-select"
                                    asp-items="currenciesList">
                            </select>
                            <span asp-validation-for="Currency" class="text-danger"></span>
                        </div>

                        <div class="form-group col-6">
                            <label asp-for="Status" class="control-label"></label>
                            <select asp-for="Status" class="form-select"
                                    asp-items="Html.GetEnumSelectList<Status>()">
                            </select>
                            <span asp-validation-for="Status" class="text-danger"></span>
                        </div>

                    </div>




                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>







