
<form class="form-search" asp-action="Index" method="get">
    <div class="mt-3  ">
        <label class="form-label d-block">Search</label>
        <input class=" input-search w-100" type="text" name="search" placeholder="You can search by id, username or email" />
        <button class=" btn-primary btn-search" type="submit"><i class="fa fa-search"></i></button>
    </div>
</form>

